@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  
html{
  background-color: #D9E3E8;
}
/*fondo de toda la pagina*/
main {
  background-image: url(fondo_abejas.png);
  
}

/*logo y texto*/
header {
  text-align: center;
  border: 1px solid #cccccc0c;
  margin:auto;
  padding: 1px;
  font-family: 'Niconne', cursive;
  font-size: 50px;
  background-image: url('fondo_canva.png'); 
}

/*el filtro y el ordenar juntos*/
select {
  border-radius: 5px;
}

/*titulo dentro del header*/
h1{
  text-align: center;
  border: 1px solid #cccccc0c;
  margin-top: -10px;
  padding-bottom: 20px;
  font-family: 'Niconne', cursive;
  font-size: 150px;
  color: rgb(58, 7, 105);
  text-shadow: 10px 10px 10px rgb(76, 56, 78); /* Línea exterior al texto */
}

/*subtitulo*/
h2 {
  text-align: center;
  font-family: 'Montserrat', cursive;
  font-size: 50px;
  font-weight: 300;
  margin-top: -100px;
  color: rgb(58, 7, 105);
}

/*filtrado, ordenado y despejar*/
#filter-form {
  text-align: center;
  font-family: 'Niconne', cursive;
  font-size: 20px;
  color: rgb(58, 7, 105);
  max-width: 1024px; /* Ancho máximo del formulario */
  margin: 0 uto; /* Centra el formulario horizontalmente */
}

#family-filter{
  font-family: 'Montserrat', cursive; ;
  font-size: 20px;
}

#alfabetico {
  font-family: 'Montserrat', cursive; ;
  font-size: 20px;
}

button {
  margin-top: 10px;
  background-color: rgba(204, 129, 223, 0.623); /* Color lila semi-transparente */
  color: rgb(58, 7, 105); /* Color del texto */
  font-family: 'Niconne', cursive;
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar por encima */
  font-size: 40px; /* Tamaño de la fuente */
  text-align: center; /* Alineación del texto */
  width: 200px; /* O puedes establecer un ancho específico */
  padding: 5px 5px; /* Ajusta el padding para reducir el espacio a los lados */
  margin-left: auto;
  margin-right: auto;
}

label{
  margin-bottom: 10px;
  font-size: 40px;
}

/*contenedor de las tarjetas*/
.flex-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

/*disposicion de las tarjetas*/
#character-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea si no caben en una sola fila */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  padding: 0;
  margin: 0;
  list-style: none; /* Elimina los estilos de lista por defecto */
}

/* Estilo para las tarjetas */
.personajes {
  font-family: 'Montserrat';
  width: 200px; /* Ancho fijo para las tarjetas */
  height: auto; /* Ajustar altura automáticamente */
  border: 1px solid #ccc;
  padding: 10px; /* Ajustar el padding si es necesario */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(138, 76, 153, 0.774);
  transition: transform 0.3s;
  color: #fcf7f7;
  margin: 10px; /* Añade margen alrededor de cada tarjeta */
  display: flex;
  flex-direction: column; /* Para que los elementos hijos se alineen verticalmente */
  justify-content: space-between; /* Espacio entre los elementos para asegurar una distribución uniforme */
}

/* nombres dentro de la tarjeta */
h3{
  font-family: 'Niconne', cursive;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  font-weight:lighter;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(60, 9, 70); /* Línea exterior al texto */
  margin: 5px; /* Elimina el margen para asegurar una altura consistente */
}

/*descripción de la tarjeta*/
p{
  font-family: 'Montserrat';
  font-weight: 400;
  color: rgb(240, 240, 243);
  text-shadow: 2px 2px 4px rgb(60, 9, 70); /* Línea exterior al texto */
  margin: 2px; /* Elimina el margen para asegurar una altura consistente */
  padding:2px, 2px;
}

/*efectos especiales :p*/
.personajes:hover { /*hace que las tarjetas se levanten*/
  transform:scale(1.05);
}

/* Estilo para las imágenes */
.personajes img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  }

/*pie de pagina*/
footer{
  background-color: #D9E3E8;
}
.piepagina {

  font-size: 20px;
  text-align: center;
  color: rgba(40, 3, 41, 0.795);
  font-family: 'Montserrat';
  border: 1px solid #f7f7f704;
  margin-top: 0%;
  padding: 2px;
}

@media (max-width: 768px) {
  header {
    font-size: 40px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }

  #filter-form {
    font-size: 20px;
    max-width: 100%;
    padding: 10px;
  }

  button {
    width: 100px;
    font-size: 16px;
  }

  .personajes {
    width: 150px;
    font-size: 14px;
  }
}

/* Para móviles */
@media (max-width: 480px) {
  header {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 16px;
  }

  #filter-form {
    font-size: 18px;
    max-width: 100%;
    padding: 10px;
  }

  button {
    width: 80px;
    font-size: 14px;
  }

  .personajes {
    width: 120px;
    font-size: 12px;
  }
}