/* Estilo para el contenedor principal que usa Flexbox */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
  

html {
  background-image: url('fondo 1 .jpg'); 
 
}

header {
  text-align: center;
  border: 1px solid #cccccc0c;
  margin:auto;
  padding: 1px;
  font-family: 'Niconne', cursive;
  font-size: 50px;
}

h1{
  text-align: center;
  border: 1px solid #cccccc0c;
  margin-top: -10px;
  padding-bottom: -20px;
  font-family: 'Niconne', cursive;
  font-size: 80px;
  color: rgb(58, 7, 105);
  text-shadow: 2px 2px 4px rgb(255, 255, 255); /* Línea exterior al texto */
}

h2 {
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 25px;
  font-weight: 300;
  margin-top: -40px;
  color: rgb(58, 7, 105);

}

#filter-form {
  text-align: center;
  font-family: 'Niconne', cursive;
  font-size: 25px;
  color: rgb(58, 7, 105);
  max-width: 300px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  display: flex; /* Utiliza flexbox para controlar la disposición */
  flex-direction: column; /* Alineación vertical de los elementos */

}
#family-filter{
  font-family: 'Handlee', cursive;
  font-size: 15px;
}
#alfabetico {
  font-family: 'Handlee', cursive;
  font-size: 15px;
}

button {
  margin-top: 10px;
  background-color: rgba(204, 129, 223, 0.397); /* Color lila semi-transparente */
  color: rgb(58, 7, 105); /* Color del texto */
  font-family: 'Niconne', cursive;
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar por encima */
  font-size: 2rem; /* Tamaño de la fuente */
  text-align: center; /* Alineación del texto */
  width: 120px; /* O puedes establecer un ancho específico */
  padding: 5px 5px; /* Ajusta el padding para reducir el espacio a los lados */
  margin-left: auto;
  margin-right: auto;
}

label{
  margin-bottom: 10px;
}

.listaDeCarac {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Estilo para los elementos de la lista */
.personajes {
  flex: 1 1 200px; /* El tamaño base de los elementos de la lista será de 200px */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(138, 76, 153, 0.774) ;
  transition: transform 0.3s;
  color:#fcf7f7;
}
h3{
  font-family: 'Niconne', cursive;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(60, 9, 70); /* Línea exterior al texto */
}

p{
  font-family: 'Handlee', cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(60, 9, 70); /* Línea exterior al texto */
}

.personajes:hover { /*hace que las tarjetas se levanten*/
  transform: scale(1.05);
}

/* Estilo para las imágenes */
.personajes img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer {
  font-size: x-large;
  text-align: center;
  border: 1px solid #cccccc0c;
  margin:auto;
  padding: 1px;
}

